server {
    # Make the default server listen on port 80
    listen 80 default_server;

    # Set the web root directory
    root /var/www/html/public;

    # Set index files
    index index.html index.php;

    # Use the default server name (_)
    server_name _;

    # Set the character set to UTF-8
    charset utf-8;

    # Disable 404 and access errors for favicon and robots.txt
    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt  { log_not_found off; access_log off; }

    # Fallback to /index.php, passing in query string
    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # Configure handling of php files
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }

    # Use /index.php for 404 errors
    error_page 404 /index.php;
}
